@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700;900&family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --dd-main: #DA7240;
    --dd-black: #0C0A0B;
    --dd-gray: #0e0e0e;
    --dd-lt-gray: #c7c7c7;
    --dd-white: #fefefe;
}

body {

    font-family: Roboto, sans-serif;
    font-size: 19px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Oswald, sans0serif;
    }

    *,
    &:after,
    &:before {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      transition-duration: 100ms;
    }

    // Utilities
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-orange {
        color: var(--dd-main);

    }

    // Navigation
    .navbar {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background: #0c0a0be3;
        text-transform: uppercase;
        font-family: Oswald, sans-serif;
        padding: 20px 0;
        border-bottom: solid 1px #1d1d1d6b;

        .navbar-brand {
            .logo {
                align-items: center;
                background: var(--dd-main);
                border-radius: 50%;
                display: flex;
                font-family: Oswald, sans-serif;
                font-size: 1.4em;
                height: 40px;
                justify-content: center;
                padding: 5px;
                width: 40px;

                &:hover {
                    background: var(--dd-white);
                }
            }

        }

        .navbar-toggler,
        .navbar-toggler:focus {
            border: initial;
            box-shadow: none;
            padding: 20px;
        }

        .nav-link {
            background: transparent;
            margin-left: 5px;
            padding: 8px 20px;
            color: var(--dd-white);

                   &:focus, &:hover {
            color: var(--dd-main);

        } 
        }

    }

    /* Homepage */

    #homepage {
        width: 100vw;
        height: 100vh;

        /* Hero */

        #hero {
            background: var(--dd-black);
            color: var(--dd-white);
            position: relative;

            &::before {
                content: "";
                background: url('./assets/dots.png');
                width: 100vw;
                height: 100vh;
                position: absolute;
                opacity: .3;
            }

            .hero {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
                min-height: 100vh;
                text-align: center;
                position: relative;
                z-index: 100;

                .hero-content-left {

                    h1{
                        font-size: 6vw;
                        line-height: 7vw;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    
                }

                .hero-content-right {
                    h4 {
                        font-size: 2.5vw;
                        line-height: 3.5vw;
                        margin-top: 1vw;
                        font-family: Roboto, sans-serif;
                        color: var(--dd-lt-gray);
                    }
                }

            }
                


        }

        #about {
            background: var(--dd-gray);

            .about{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100vw;
            min-height: 100vh;
            color: var(--dd-lt-gray);

            h2 {
                font-size: 3vw;
                line-height: 3vw;
            }

            }
        }
        #skills {
            background: var(--dd-white);

            .skills{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100vw;
            min-height: 100vh;
            color: var(--dd-black);

            h2 {
                font-size: 3vw;
                line-height: 3vw;
            }

            }
        }
        #projects {
            background: var(--dd-lt-gray);

            .projects{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100vw;
            min-height: 100vh;
            color: var(--dd-black);

            h2 {
                font-size: 3vw;
                line-height: 3vw;
            }

            }
        }
        #contact {
            background: var(--dd-black);

            .contact {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100vw;
            min-height: 100vh;
            color: var(--dd-white);

            h2 {
                font-size: 3vw;
                line-height: 3vw;
            }

            }
        }




    }


}